

.main-body{
  max-width: 1248px;
  padding-top: 20px;
  margin: 0 auto;
}


.btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px; /* Ajustez la marge selon vos besoins */
  border: none;
}
