<div class="container">
  <div class="right">
      <br><br><br><br><br><br><br>
      <div><img src="assets/images/logoClaire.png" alt="Logo"></div>
      <br>
      <div class="slogan">Preventions-Traitements-Conseils</div>
      <br>
      <div class="bienvenue">Bienvenue <br>sur KeneyaDeme</div>
  </div>

  <div class="left">
      <br><br><br><br><br><br>

      <div class="title">S'identifiez-vous</div>
      <br><br><br>
      <form action="">
          <div class="input-group">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nom d'utilisateur" id="username">
          </div>
      <br>
          <div class="input-group">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Mot de passe" id="password">
          </div>
          <br><br>
          <button>Connexion</button>
      </form>
  </div>
</div>
