.example-spacer {
  flex: 1 1 auto;
}

.main-body{
  max-width: 1248px;
  padding-top: 20px;
  margin: 0 auto;
}

/* .main-body mat-form-field{
  width: 100%;
} */
/* .blue{
  background-color: #0065FF !important;
  color: white !important;
} */
