<div class="panel-body">
  <table id="dataTable" class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class='btn btn-primary'><i class="fa fa-futboll-0"></i> Detail</button>
          <button class='btn btn-danger'><i class="fa fa-futboll-0"></i> Delete</button>
          <button class='btn btn-info' >Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
